@{
    ViewData["Title"] = "Home Page";
}
<partial name="errorproduct"></partial>
<div class="text-center">
    <h1 class="display-4">xin chào</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
