@page "/aboutrazor.cshtml"
@{
    Layout ="_Layout";
}
<h1>Gioi thieu ve razor page</h1>
<p>
    razor là 1 template engineer trong .net, là template mặc định của aspnet mvc, 
    có chức năng render (dựng html từ các view) có thể viết cả code c # và html
</p>